@import url("fontawesome-free-5.13.0-web/scss/font-awesome.scss");
@media screen and (min-width:1080px)
{
	.experiences:hover, .formations:hover, .Capacitée:hover
	{
		font-size: 1.2em;
		text-shadow: 6px 10px 10px black;
		color:white;
	}

	h1
	{
		font-size: 1.5em;
		display: flex;
		text-align: justify;
		margin: auto;
		justify-content: center;
		text-shadow: 6px 10px 10px black;
		color:white;
		float:left;
		flex-wrap:wrap;
		z-index: 3;
	}
	header
	{
		display:flex;
		justify-content: center;
	}


	.img
	{
		display: flex;
		list-style-type: none;
		position: absolute;left: 10% ;top: 30%;
		flex-wrap:wrap;
		list-style-type: none;
	}
	.formations, .experiences
	{
		display:flex;
		font-size: 0.7em;
		flex-direction: column;
		list-style-type: none;
		color: #BDBDBD ;
		text-shadow: 3px 5px 5px black;
		margin: auto;
		padding: 5px;
	}
	.experiences
	{
		display: flex;
		position: relative;left: 40%;
	}
	.contact
	{
		font-size: 0.8em;
		display:flex;
		flex-direction: column;
		list-style-type: none;
		color: #4FC3F7;
		margin-left: 0.1%;
		margin-right: 0.1%;
		float: left;
		flex-wrap:wrap;
		position: absolute;top: 16%;left: 10%;
		width: 15%;
		background: rgba(255,255,255,100);
		z-index: 3;
	}
	#contact
	{
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 1em;
		display: flex;
		position: absolute;top: 10%;left:0%;
		z-index: 2;
		width: 33%;
		height: 5%;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
	}
	.contact2
	{
		background-color: white;
		font-size: 0.9em;
		justify-content: center;
		align-content: center;
	}
	#img
	{
		position: absolute;top: 2%;left: 12.5%;
		background-color: white;
		z-index: 3;
		width: 3%;
		height: 7%;
		border-radius: 50%;
		list-style-type: none;
	}

	.formations
	{
		display: flex;
		position: relative;left: 40%;
		z-index: 3;
	}
	li
	{
		padding: 10px;
		z-index: 3;
		list-style-type: none;
	}

	h3
	{
		display: flex;
		text-align: justify;
		position: relative;left: 50%;
		color:white;
		text-shadow: 4px 7px 7px black;
		z-index: 3;
	}
	body
	{
		min-height: 500px;
		background-color: #212121;
		box-sizing: border-box;
		height: auto;
		overflow-x: hidden;
		margin-left:10%;
		margin-right: 10%;
	}
	#moi
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 0.9em;
		justify-content: center;
		align-content: center;
		position: absolute;top: 30%;left:0%;
		flex-wrap: wrap;
		z-index: 2;
		width: 33%;
		height: 5%;
	}
	.moi
	{
		display:flex;
		flex-direction: column;
		color: #4FC3F7;
		margin: 20px;
		padding: 10px;
		flex-wrap:wrap;
		position: absolute;top: 45%;left: 5%;
		width: 22%;
		height: 15%;
		z-index: 3;
		background-color: white;
		font-size: 0.9em;
		justify-content: center;
		align-content: center;
	}
	.Capacitée
	{
		display: flex;
		position: relative;left: 40%;
		flex-direction: column;
		list-style-type: none;
		color: #BDBDBD ;
		text-shadow: 3px 5px 5px black;
		margin: auto;
	}
	#blanc1
	{
		background-color: white;
		width: 33%;
		height:300%;
		position: absolute;top: 0%;left: 0%;
		z-index: 1;
	}
	#loi
	{
		display:flex;
		list-style-type: none;
		flex-direction: row;
		color: #4FC3F7;
		margin: 20px;
		padding: 10px;
		flex-wrap:wrap;
		width: 15%;
		background-color: white;
		z-index: 3;
		position: absolute;left:5%;top: 80%;
		justify-content: center;
		align-content: center;
	}
	.loisirs
	{
		background-color: white;
		font-size:0.9em;
		width: 100%;
		z-index: 3;
	}
	#Loisirs
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 1.1em;
		position: absolute;top: 70%;left:0%;
		z-index: 2;
		width: 33%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
	i.fas
	{
		background-color: white;
		position:relative;left: 50%;
	}
}
@media all and (max-width:1080px )and (min-width: 780px) 
{
	body
	{
		background-color: white;
		box-sizing: border-box;
		height: auto;
		overflow-x: hidden;
		margin-left:10%;
		margin-right: 10%;
	}
	li
	{
		list-style-type: none;
	}
	h1
	{
		font-size: 1.3em;
		display: flex;
		text-align: justify;
		align-content: center;
		max-height: 3%;
		margin: auto;
		position: absolute;top: 0%;
		justify-content: center;
		width: 100%;
		text-shadow: 6px 10px 10px black;
		color:white;
		float:left;
		padding: 10px;
		flex-wrap:wrap;
		background-color: #4FC3F7;
		z-index: 2;
		margin: auto;
	}
	.formations
	{
		display: flex;
		position: relative; top: 20%;
		z-index: 2;
		flex-wrap: wrap;
		margin: 2px;
		padding: 2px;
		text-align: center;

	}
	.loisirs
	{
		display: flex;
		flex-direction: row;
		position: relative; top: 10%;
		flex-wrap: wrap;
		margin: 2px;
		padding: 2px;
		z-index: 2;
		text-align: center;
	}
	.Capacitée
	{
		display: flex;
		position: relative; top: 10%;
		z-index: 3;
		flex-wrap: wrap;
		margin: 2px;
		padding: 2px;
		text-align: center;
	}
	#exp
	{
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		width: 100%;
		max-height: 120%;
		font-size: 0.8em;
		margin: 5px;
		padding: 5px;
		text-align: justify;
		justify-content: center;
		flex-direction: column;
		position: absolute;top: 175%;
		z-index: 2;
	}
	#img
	{
		display: flex;
		position: absolute;;top: 0%;
		flex-wrap:wrap;
		list-style-type: none;
		width: 40px;
		height: 40px;
		margin: 2px;
		padding: 2px;
		border-radius: 50%;
		z-index: 3;
	}
	.contact
	{
		display: flex;
		flex-wrap: wrap;
		margin: 0%;
		padding: 1%;
		text-align: center;
		width: 100%;
		height: 20%;
		position: absolute; top: 385%;
		z-index: 2;
		flex-direction: column;
		list-style-type: none;
		background-color: #212121;
		color: #4FC3F7;
	}

	.contact2
	{

		background-color: #212121;
	}
	#rec
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 1em;
		position: absolute;top: 400%;
		z-index: 3;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
	#contact
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 1em;
		position: absolute;top: 379%;
		z-index: 3;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
	#Loisirs
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 1em;
		position: absolute;top: 345%;
		z-index: 3;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
	#loi
	{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin: 0%;
		padding: 5%;
		text-align: center;
		justify-content: center;
		width: 90%;
		height: 10%;
		position: absolute;top: 350%;
		z-index: 2;
		flex-direction: column;
		list-style-type: none;
		background-color: white;
		color: #4FC3F7;
	}
	#exptitre
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 1em;
		position: absolute;top: 165%;
		z-index: 3;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
	#form
	{
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		width: 90%;
		margin: 5px;
		padding: 4px;
		text-align: justify;
		justify-content: center;
		flex-direction: column;
		position: absolute;top: 95%;
		z-index: 2;
	}
	#formtitre
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 1em;
		position: absolute;top: 85%;
		z-index: 3;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
	.moi
	{
		display: flex;
		flex-wrap: wrap;
		width: 70%;
		margin: 5px;
		padding: 5px;
		text-align: justify;
		justify-content: center;
		position: absolute;top: 40%;
		z-index: 2;
	}
	#moi
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 1em;
		position: absolute;top: 25%;
		z-index: 3;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
}
@media all and (max-width:780px )and (min-width: 480px)
{
	body
	{
		background-color: white;
		box-sizing: border-box;
		height: auto;
		overflow-x: hidden;
		margin-left:10%;
		margin-right: 10%;
	}
	li
	{
		list-style-type: none;
		margin: 10px;
	}
	h1
	{
		font-size: 1em;
		display: flex;
		text-align: justify;
		align-content: center;
		max-height: 3%;
		margin: auto;
		position: absolute;top: 0%;
		justify-content: center;
		width: 100%;
		text-shadow: 6px 10px 10px black;
		color:white;
		float:left;
		padding: 10px;
		flex-wrap:wrap;
		background-color: #4FC3F7;
		z-index: 2;
		margin: auto;
	}
	.formations
	{
		display: flex;
		position: relative;top: 20%;
		z-index: 2;
		flex-wrap: wrap;
		margin: 2px;
		padding: 2px;
		text-align: center;

	}
	.loisirs
	{
		display: flex;
		flex-direction: row;
		position: relative; top: 10%;
		flex-wrap: wrap;
		margin: 2px;
		padding: 2px;
		z-index: 2;
		text-align: center;
	}
	.Capacitée
	{
		display: flex;
		position: relative;top: 10%;
		z-index: 3;
		flex-wrap: wrap;
		margin: 2px;
		padding: 2px;
		text-align: center;
	}
	#exp
	{
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		width: 90%;
		text-align: justify;
		justify-content: center;
		flex-direction: column;
		position: absolute;top: 175%;
		z-index: 2;
	}
	#img
	{
		display: flex;
		position: absolute;top: 0%;
		flex-wrap:wrap;
		list-style-type: none;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		z-index: 3;
	}
	.contact
	{
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		height: 15%;
		width: 100%;
		position: absolute;top: 325%;
		z-index: 2;
		flex-direction: column;
		list-style-type: none;
		background-color: #212121;
		color: #4FC3F7;
	}

	.contact2
	{

		background-color: #212121;
	}
	#rec
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 0.7em;
		position: absolute;top: 340%;
		z-index: 3;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
	#contact
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 0.7em;
		position: absolute;top: 320%;
		z-index: 3;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
	#Loisirs
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 0.7em;
		position: absolute;top: 270%;
		z-index: 3;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
	#loi
	{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		text-align: center;
		justify-content: center;
		width: 100%;
		height: 20%;
		position: absolute;top: 280%;
		z-index: 2;
		flex-direction: column;
		list-style-type: none;
		background-color: white;
		color: #4FC3F7;
	}
	#exptitre
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 0.7em;
		position: absolute;top: 165%;
		z-index: 3;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
	#form
	{
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		width: 100%;
		text-align: justify;
		justify-content: center;
		flex-direction: column;
		position: absolute; top: 95%;
		z-index: 2;
	}
	#formtitre
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 0.7em;
		position: absolute;top: 85%;
		z-index: 3;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
	.moi
	{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		text-align: justify;
		justify-content: center;
		position: absolute;top: 40%;
		z-index: 2;
	}
	#moi
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 1em;
		position: absolute;top: 25%;
		z-index: 3;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
	li
	{
		margin: 10px;
		list-style-type: none;
	}
}
@media all and (max-width:480px )

{
	body
	{
		background-color: white;
		box-sizing: border-box;
		height: auto;
		overflow-x: hidden;
		margin-left:10%;
		margin-right: 10%;
	}
	li
	{
		list-style-type: none;
		margin: 5px;
	}
	h1
	{
		font-size: 0.9em;
		display: flex;
		text-align: justify;
		align-content: center;
		max-height: 3%;
		margin: auto;
		position: absolute;top: 0%;
		justify-content: center;
		width: 100%;
		text-shadow: 6px 10px 10px black;
		color:white;
		float:left;
		padding: 10px;
		flex-wrap:wrap;
		background-color: #4FC3F7;
		z-index: 2;
		margin: auto;
	}
	.formations
	{
		display: flex;
		position: relative;top: 20%;
		z-index: 2;
		flex-wrap: wrap;
		text-align: left;

	}
	.loisirs
	{
		display: flex;
		position: relative;top: 10%;
		flex-wrap: wrap;
		margin: auto;
		z-index: 2;
		text-align: center;
	}
	.Capacitée
	{
		display: flex;
		position: relative;top: 10%;
		z-index: 3;
		flex-wrap: wrap;
		margin: auto;
		text-align: center;
	}
	#exp
	{
		display: flex;
		flex-wrap: wrap;
		font-size: 0.4em;
		list-style-type: none;
		width: 100%;
		margin: auto;
		max-height: 50%;
		padding: 10px;
		text-align: justify;
		justify-content: center;
		flex-direction: column;
		position: absolute;top: 55%;
		z-index: 2;
	}
	#img
	{
		display: flex;
		position: absolute;top: 0%;
		flex-wrap:wrap;
		list-style-type: none;
		width: 20px;
		height: 20px;
		margin: auto;
		border-radius: 50%;
		z-index: 3;
	}
	.contact
	{
		display: flex;
		flex-wrap: wrap;
		font-size: 0.4em;
		text-align: center;
		align-content: center;
		width: 100%;
		height: 10%;
		position: absolute;top: 155%;
		z-index: 2;
		flex-direction: column;
		list-style-type: none;
		background-color: #212121;
		color: #4FC3F7;
	}

	.contact2
	{
		background-color: #212121;
	}
	#rec
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 0.7em;
		position: absolute;top: 110%;
		z-index: 3;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
	#contact
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 0.7em;
		position: absolute;top: 150%;
		z-index: 3;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
	#Loisirs
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 0.7em;
		position: absolute;top: 163%;
		z-index: 3;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
	#loi
	{
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		text-align: center;
		justify-content: center;
		width: 100%;
		height: 20%;
		position: absolute;top: 165%;
		z-index: 2;
		flex-direction: row;
		list-style-type: none;
		background-color: white;
		color: #4FC3F7;
	}
	#exptitre
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 0.7em;
		position: absolute;top: 45%;
		z-index: 3;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
	#form
	{
		display: flex;
		font-size: 0.4em;
		flex-wrap: wrap;
		list-style-type: none;
		width: 100%;
		margin: auto;
		text-align: justify;
		justify-content: center;
		flex-direction: column;
		position: absolute; top: 25%;
		z-index: 2;
	}
	#formtitre
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 0.5em;
		position: absolute;top: 15%;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
	.moi
	{
		display: flex;
		flex-wrap: wrap;
		font-size: 0.5em;
		width: 100%;
		margin: auto;
		text-align: justify;
		justify-content: center;
		position: absolute;; top: 193%;
		z-index: 2;
	}
	#moi
	{
		display: flex;
		background-color: #4FC3F7;
		color: white;
		text-shadow: 3px 5px 5px black;
		font-size: 0.7em;
		position: absolute;top: 185%;
		z-index: 3;
		width: 100%;
		height: 5%;
		flex-wrap:wrap;
		justify-content: center;
		align-content: center;
	}
}