@media screen and (min-width:1300px)
{
.experiences:hover, .formations:hover, .Capacitée:hover
{
font-size: 1.5em;
text-shadow: 6px 10px 10px black;
color:white;
}

h1
{
	font-size: 2.5em;
	display: flex;
	text-align: justify;
	margin: auto;
	justify-content: center;
	text-shadow: 6px 10px 10px black;
	color:white;
	float:left;
	padding: 20px;
	flex-wrap:wrap;
	z-index: 3;
}
header
{
	display:flex;
	justify-content: center;
}


.img
{
	display: flex;
	position: absolute;left: 10% ;top: 30%;
	flex-wrap:wrap;
	list-style-type: none;
	-moz-border-radius: 20px;
}
.formations, .experiences
{
	display:flex;
	flex-direction: column;
	list-style-type: none;
	color: #BDBDBD ;
	text-shadow: 3px 5px 5px black;
	margin: auto;
	padding: 10px;
}
.experiences
{
	display: flex;
	position: relative;left: 40%;
}
.contact
{
	font-size: 1.2em;
	display:flex;
	flex-direction: column;
	list-style-type: none;
	color: #4FC3F7;
	margin: 20px;
	padding: 10px;
	float: left;
	flex-wrap:wrap;
	position: absolute;top: 25%;left: 10%;
	width: 15%;
	background: rgba(255,255,255,100);
	z-index: 3;
}
#contact
{
	background-color: #4FC3F7;
	color: white;
	text-shadow: 3px 5px 5px black;
	font-size: 1.5em;
	display: flex;
	position: absolute;top: 15%;left:0%;
	z-index: 2;
	width: 33%;
	height: 5%;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}
.contact2
{
	background-color: white;
	font-size: 1.1em;
	justify-content: center;
	align-content: center;
}
#img
{
	position: absolute;top: 2%;left: 12.5%;
	background-color: white;
	z-index: 3;
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.formations
{
	display: flex;
	position: relative;left: 40%;
	z-index: 3;
}
li
{
	padding: 10px;
	z-index: 3;
}

h2
{
	display: flex;
	text-align: justify;
	position: relative;left: 50%;
	color:white;
	text-shadow: 4px 7px 7px black;
	z-index: 3;
}
*
{
	background-color: #212121;
	z-index: 0;
}
#moi
{
	display: flex;
	background-color: #4FC3F7;
	color: white;
	text-shadow: 3px 5px 5px black;
	font-size: 1.5em;
	justify-content: center;
	align-content: center;
	position: absolute;top: 50%;left:0%;
	flex-wrap: wrap;
	z-index: 2;
	width: 33%;
	height: 5%;
}
.moi
{
	display:flex;
	flex-direction: column;
	color: #4FC3F7;
	margin: 20px;
	padding: 10px;
	flex-wrap:wrap;
	position: absolute;top: 65%;left: 5%;
	width: 22%;
	height: 15%;
	z-index: 3;
	background-color: white;
	font-size: 1.1em;
	justify-content: center;
	align-content: center;
}
.Capacitée
{
	display: flex;
	position: relative;left: 40%;
	flex-direction: column;
	list-style-type: none;
	color: #BDBDBD ;
	text-shadow: 3px 5px 5px black;
	margin: auto;
}
#blanc1
{
	background-color: white;
	width: 33%;
	height:200%;
	position: absolute;top: 0%;left: 0%;
	z-index: 1;
}
#loi
{
	display:flex;
	list-style-type: none;
	flex-direction: row;
	color: #4FC3F7;
	margin: 20px;
	padding: 10px;
	flex-wrap:wrap;
	width: 15%;
	background-color: white;
	z-index: 3;
	position: absolute;left:5%;top: 100%;
	justify-content: center;
	align-content: center;
}
.loisirs
{
	background-color: white;
	font-size: 1.1em;
	width: 120%;
	z-index: 3;
}
#Loisirs
{
	display: flex;
	background-color: #4FC3F7;
	color: white;
	text-shadow: 3px 5px 5px black;
	font-size: 1.5em;
	position: absolute;top: 90%;left:0%;
	z-index: 2;
	width: 33%;
	height: 5%;
	flex-wrap:wrap;
	justify-content: center;
	align-content: center;
}
i.fas
{
	background-color: white;
	position:relative;left: 50%;
}

}
@media screen and (max-width:1300px )

{
	*
	{
		margin:20px;
		background-color: white;
		background-position: center;
		z-index: 0;
	}
h1
{
	font-size: 2em;
	display: flex;
	text-align: justify;
	align-content: center;
	max-height: 3%;
	margin: auto;
	position: relative;top: 0%;left: -30%;
	justify-content: center;
	width: 180%;
	text-shadow: 6px 10px 10px black;
	color:white;
	float:left;
	padding: 20px;
	flex-wrap:wrap;
	background-color: #4FC3F7;
	z-index: 2;
	margin: auto;
}
.formations
{
	display: flex;
	position: relative;left: 5%; top: 10%;
	z-index: 2;
	flex-wrap: wrap;
	margin: 5px;
	padding: 5px;
	text-align: center;

}
.loisirs
{
	display: flex;
	position: relative;left: 5%; top: 10%;
	flex-wrap: wrap;
	margin: 5px;
	padding: 5px;
	z-index: 2;
	text-align: center;

}
.Capacitée
{
	display: flex;
	position: relative;left: 5%; top: 10%;
	z-index: 3;
	flex-wrap: wrap;
	margin: 5px;
	padding: 5px;
	text-align: center;

}
#exp
{
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	width: 90%;
	margin: 10px;
	padding: 10px;
	text-align: justify;
	justify-content: center;
	flex-direction: column;
	position: absolute;left: 5%; top: 150%;
	z-index: 2;

}
#img
{
	display: flex;
	position: absolute;left: 2% ;top: 3.3%;
	flex-wrap:wrap;
	list-style-type: none;
	-moz-border-radius: 20px;
	width: 80px;
	height: 80px;
	margin: 5px;
	padding: 5px;
	border-radius: 50%;
	z-index: 3;
}
.contact
{
	display: flex;
	flex-wrap: wrap;
	margin: 0%;
	padding: 1%;
	text-align: center;
	width: 200%;
	height: 20%;
	position: absolute;left: -40%; top: 335%;
	z-index: 2;
	flex-direction: column;
	list-style-type: none;
	background-color: #212121;
	color: #4FC3F7;
}

.contact2
{

	background-color: #212121;
}
#rec
{
	display: flex;
	background-color: #4FC3F7;
	color: white;
	text-shadow: 3px 5px 5px black;
	font-size: 1.5em;
	position: absolute;top: 350%;left:-40%;
	z-index: 3;
	width: 200%;
	height: 5%;
	flex-wrap:wrap;
	justify-content: center;
	align-content: center;
}
#contact
{
	display: flex;
	background-color: #4FC3F7;
	color: white;
	text-shadow: 3px 5px 5px black;
	font-size: 1.5em;
	position: absolute;top: 329%;left: -40%;
	z-index: 3;
	width: 200%;
	height: 5%;
	flex-wrap:wrap;
	justify-content: center;
	align-content: center;
}
#Loisirs
{
	display: flex;
	background-color: #4FC3F7;
	color: white;
	text-shadow: 3px 5px 5px black;
	font-size: 1.5em;
	position: absolute;top: 295%;left: -40%;
	z-index: 3;
	width: 200%;
	height: 5%;
	flex-wrap:wrap;
	justify-content: center;
	align-content: center;
}
#loi
{
	display: flex;
	flex-wrap: wrap;
	margin: 0%;
	padding: 5%;
	text-align: center;
	justify-content: center;
	width: 80%;
	height: 20%;
	position: absolute;left: 5%; top: 300%;
	z-index: 2;
	flex-direction: column;
	list-style-type: none;
	background-color: white;
	color: #4FC3F7;
}
#exptitre
{
	display: flex;
	background-color: #4FC3F7;
	color: white;
	text-shadow: 3px 5px 5px black;
	font-size: 1.5em;
	position: absolute;top: 140%;left: -40%;
	z-index: 3;
	width: 200%;
	height: 5%;
	flex-wrap:wrap;
	justify-content: center;
	align-content: center;
}
#form
{
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	width: 90%;
	margin: 10px;
	padding: 8px;
	text-align: justify;
	justify-content: center;
	flex-direction: column;
	position: absolute;left: 2%; top: 80%;
	z-index: 2;
}
#formtitre
{
	display: flex;
	background-color: #4FC3F7;
	color: white;
	text-shadow: 3px 5px 5px black;
	font-size: 1.5em;
	position: absolute;top: 70%;left: -40%;
	z-index: 3;
	width: 200%;
	height: 5%;
	flex-wrap:wrap;
	justify-content: center;
	align-content: center;
}
.moi
{
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin: 10px;
	padding: 10px;
	text-align: justify;
	justify-content: center;
	position: absolute;left: 5%; top: 40%;
	z-index: 2;
}
#moi
{
	display: flex;
	background-color: #4FC3F7;
	color: white;
	text-shadow: 3px 5px 5px black;
	font-size: 1.5em;
	position: absolute;top: 25%;left: -40%;
	z-index: 3;
	width: 200%;
	height: 5%;
	flex-wrap:wrap;
	justify-content: center;
	align-content: center;
}
}